<footer class="footer">

    <div id="news"></div>
    <div class="footer-copyright text-center py-3" style="padding-top:30px; background-color:lightskyblue">
        Copyright&copy;
    </div>

</footer>